.dropdownContainer {
  margin-left: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.dropdown {
  width: 35% 294px;
  padding: 8px;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 5px;
  padding: 10px 10px;
}
