@import "tailwindcss";

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.col-one {
  margin-bottom: 20px;
}

.col-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .col-one {
    width: 75%;
  }
  .col-two {
    width: 25%;
  }
}
